services:
  - type: web
    name: django-app
    env: python
    buildCommand: |
      pip install -r requirements.txt
      python manage.py collectstatic --noinput
    startCommand: gunicorn your_project_name.wsgi
    envVars:
      - key: SECRET_KEY
        generateValue: true

